#carousel {
  display: flex;
  position: relative;
  width: 100%;
  height: 350px;
  margin: 2% 0;
  overflow: hidden;
}

.slide {
  background: rgba(0, 0, 0, 0.3);
  mix-blend-mode: darken;
  border-radius: 25px;
  background: #f7f7f7;
  border-radius: 10px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 10px;
  opacity: 0;
  height: 100%;
  width: 100%;
}
.slide img {
  object-fit: cover;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  mix-blend-mode: normal;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.slideCount {
  display: block;
  position: absolute;
  color: #ffffff;
  left: 48%;
  top: 86%;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
.active{
  opacity: 1;
}

.VectorRight {
  display: flex;
  position: absolute;
  top: 47%;
  right: 2%;
  width: 12px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
}

.VectorLeft {
  display: flex;
  position: absolute;
  top: 47%;
  left: 2%;
  width: 12px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
}
@media screen and (max-width: 650px) {
  .carousel {
    height: 410px;
    margin: 20px auto;
  }
  .slide2 {
    border-radius: 20px;
  }

  .VectorLeft {
    width: 47px;
    height: 79px;
    top: 42%;
  }
  .VectorRight {
    width: 47px;
    height: 79px;
    top: 42%;
  }
}
