.kasa-banner {
  padding: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.menuPuce {
  display: inline;
  list-style: none;
  margin: 10px;
}

.menuPuce > a {
  color: #ff6060;
  text-decoration: none;
}

.menuPuce > a:hover {
  color: #ff6060;
  text-decoration: underline;
}
@media screen and (max-width:650px){
  .kasa-logo{
    width:110px;
    height: 70px;
  }
  .menuNav
  {
    display: flex;
  }
  .menuPuce
  {
    font-weight: 500;
  }
}
  
